<!-- inicio.component.html -->
<div class="container">
    <div class="header">
      <img src="assets/imagenes/imagen1.png" alt="Logo de la compañía" class="logo">
      <h1 class="titulo">Titanes de Piedra</h1>
    </div>
    <div class="content">
      <h2>Bienvenido a la página de Inicio</h2>
      <p>Descubre nuestras increíbles figuras de piedra. Cada pieza es única y hecha a mano con amor.</p>
      <button class="boton" (click)="verGaleria()">Ver Galería</button>

    </div>
    <div class="footer">
      <p>© 2023 Titanes de Piedra. Todos los derechos reservados.</p>
    </div>
</div>
  